<header class="navbar-header">
  <!-- website logo and name -->
  <div class="logo-area" routerLink="/">
    <div class="logo-placeholder">
      <img src="assets/images/gymlogo1.png" alt="" class="logo-img">
    </div>
    <span class="site-name">FitnessBear</span>
  </div>
  <div>
    <nav class="nav-links">
      <!-- navbar desktop navigation -->
       <a routerLink="/" routerLinkActive="active">Home</a>
       <span class="space"></span>
       <a routerLink="/" routerLinkActive="active">About</a>
       <span class="space"></span>
       <a routerLink="/" routerLinkActive="active">Services</a>
       <span class="space"></span>
       <a routerLink="/" routerLinkActive="active">Our Team</a>
       <span class="space"></span>
       <a routerLink="/" routerLinkActive="active">ContactUs</a>
       <span class="space"></span>
    </nav>
  </div>
  <div class="login-area">
  <button mat-raised-button color="darkcyan" class="login-btn">
    <mat-icon>login</mat-icon>
    Login
  </button>
</div>
</header>